.App {
  text-align: center;
  background-color: #284aa2;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}

.App-header {
  background-color: #284aa2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #284aa2;
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

.rating-info-form {
  /* border: 1px solid black; */
  border-radius: 5px;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.571);
  color: black;
  font-weight: bold;
  box-shadow: 6px 6px 10px -1px #000000;
}

label {
  font-size: 10px;
}

.form-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  color: black;
}

form > label {
  margin: 10px;
  font-size: 10px;
}

.form-submit {
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  background-color: transparent;
  transition: border-color 0.2s, background-color 0.2s;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.form-submit:hover {
  color: #ffffff;
  border-color: transparent;
  background-color: hsla(0, 0%, 100%, 0.25);
  box-shadow: none;
  transition: all 0.4s ease 0s;
}

.errors {
  color: red;
}

.get-started-btn {
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  background-color: transparent;
  transition: all 0.2s, background-color 0.2s;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.get-started-btn:active {
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  background-color: transparent;
  transition: all 0.2s, background-color 0.2s;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.get-started-btn:hover {
  border-color: transparent;
  background-color: hsla(0, 0%, 100%, 0.25);
  box-shadow: 6px 6px 10px -1px #000000;
}

.overview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.price-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.overview-header {
  margin: 10px;
}

.overview-cell {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 14px;
}

.price-cell {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.571);
  color: black;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 10px -1px #000000;
}

.price-tag {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.overview-cell > label {
  padding-bottom: 5px;
}

.select-cell label {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.select-cell p {
  font-weight: normal;
}

.select-cell select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
}

.select-cell {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.571);
  color: black;
  border-radius: 50px;
  box-shadow: 6px 6px 10px -1px #000000;

  min-width: 300px;
}

.select-list {
  list-style-type: none;
  /* border: 1px solid #eee; */
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
}

/* .select-list:hover {
  box-shadow: 6px 6px 10px -1px #000000;
} */

.select-list li {
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.select-list li:last-child {
  border-bottom: none;
}
.overview-header-container {
  padding: 20px;
}

.overview-header-container > button {
  float: left;
}

.rating-header-container > button {
  float: left;
}

.rating-header {
  text-align: center;
  justify-self: center;
  margin: auto;
  /* padding: 10px; */
}

datalist > option {
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.571);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-self: center;
  width: 80%;
  height: 100%;
  margin-top: 20px;
  min-width: 350px;
  max-width: 500px;
}

.error-input {
  border: 1px solid red;
  position: relative;
}

.error-zip-input {
  border: 1px solid red;
  position: relative;
}

.error-span {
  color: red;
  font-size: 12px;
}

.select-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 600px) {
  .rating-info-form {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 10px;
  }

  .rating-info-form input {
    padding: 10px 50px;
  }

  .price-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .select-container {
    flex-direction: column;
    margin: 10px 0px;
  }

  .select-cell {
    width: 80%;
    margin: 10px 0px;
  }

  .price-cell {
    width: 80%;
    max-width: 300px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
